.primedialog {
    position: absolute;
    top: 100px;
}

.primedialog a {
    text-decoration: underline;
}

.primedialog a:hover {
    text-decoration: none;
}

.gridaanname_layout2 {
    display: none;
}

.verticalline {
    border-right: 3px solid #061539;
    padding-right: 2em;
}

.layoutsix {
    float:left; 
    padding-right:1em;
}

@media screen and (max-width: 760px) {
    .gridlayoutsix {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .gridaanname {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .gridlayoutsix > div {
        margin-bottom: 1em;
    }
}

@media screen and (min-width: 1086px) {
    .gridaanname > div:nth-child(4) {
        padding-left: 1em;
    }
}   

@media screen and (max-width: 1085px) {
    .gridaanname {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .gridaanname .verticalline {
        border-right-color: var(--bgc);
    }    
}

@media screen and (max-width: 550px) {
    .gridaanname_layout2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);    
    }

    .gridaanname {
        display: none;
    }
}

