.primedialog {
    position: absolute;
    top: 100px;
}

.primedialog a {
    text-decoration: underline;
}

.primedialog a:hover {
    text-decoration: none;
}

.verticalline {
    border-right: 3px solid #061539;
    padding-right: 2em;
}

.layoutsix {
    float:left; 
    padding-right:1em;
}

@media screen and (max-width: 640px) {
    .gridlayoutsix {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .gridaanname {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .gridlayoutsix > div {
        margin-bottom: 1em;
    }
}

@media screen and (min-width: 784px) {
    .gridaanname > div:nth-child(4) {
        padding-left: 1em;
    }
}

@media screen and (max-width: 783px) {
    .gridaanname {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .verticalline {
        border-right-color: var(--bgc);
    }    

    h1, h2 {
        font-weight: bold;
    }
}

@media screen and (max-width: 1275px) {
    body {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 1160px) {
    body {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 1045px) {
    body {
        font-size: 0.7em;
    }
}

@media screen and (max-width: 940px) {
    body {
        font-size: 0.6em;
    }
}
