:root {
    --bgc: #FDFDFE;
}

body {
    background-color: var(--bgc);
    font-family:verdana;
    font-size: 16px;
    line-height: 1.4em;
    margin: 0;
    color:#061539
}

a {
    color:#061539;
    text-decoration:none
}

header {
    font-size: 2.5em;
    padding: 40px 20px 20px 20px;
}

header span#subheader {
    font-size: 0.65em;
    font-weight: normal;
}

nav {
    margin-top: 10px;
}

nav ul {
    background-color: #061539;
    list-style-type: none;
    margin: 0;
    padding-left: 20px;
    overflow: hidden;
}

nav ul li {
    display: block;
}

nav ul li a {
    padding: 14px 16px;
}

.ul_lst_none {
    list-style-type: none;
    margin-left: -40px;
}

.ul_lst_none_tab {
    list-style-type: none;
}

.menuitem, .active {
    float: left;
}

.menuitem a, .active a {
    color: var(--bgc);
    display: block;
}

.active a {
    background-color: #67779E;
    color: var(--bgc);
    display: block;
}

.menuitem a:hover, .active a:hover {
    background-color: var(--bgc);
    color: #061539;
}

.menuitem a:hover {
    background-color: var(--bgc);
    color: #061539;
}

h1 {
    font-weight: lighter;
    margin-left: 20px;
    padding-top: 5px;
}

h2 {
    font-weight: lighter;
}

h3 {
    font-weight: lighter;
}

.abovefooter {
    margin-left: 20px;
}

footer {
    background-color: #061539;
    color: var(--bgc);
    text-align:center; 
    padding: 1em 0em;
    margin: 2em 0em;
}

footer a {
    color: var(--bgc);
}

