.displaygrid {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-gap: 10px;
    padding: 0 20px;
}

.displaygrid a {
    text-decoration: underline;
}

.displaygrid a:hover {
    text-decoration: none;
}

.verticalline {
    border-right: 3px solid #061539;
    padding-right: 15px;
}

button,input[type=button],[type=reset],input[type=search],input[type=submit],input[type=text],input[type=number] {
    border:1px solid #000;
    color:#061539;
    font-family:verdana;
    font-size:1.1em;
    padding:0.5em;
}

input::placeholder {
    color:#C4CBDC;
}

@media screen and (max-width: 900px) {
    body {
        font-size: 14px;
    }
    
    .displaygrid {
        grid-template-columns: 3fr 1fr;
    }

    .verticalline:nth-child(2) {
        border-right-color: var(--bgc);
    }
}

@media screen and (max-width: 550px) {
    body {
        font-size: 12px;
    }

    .displaygrid {
        grid-template-columns: repeat(1, 1fr);
    }

    .verticalline:nth-child(1) {
        border-right-color: var(--bgc);
    }
}
