.displaygrid {
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-gap: 10px;
    padding: 0 20px;
}

.displaygrid a {
    text-decoration: underline;
}

.displaygrid a:hover {
    text-decoration: none;
}

.verticalline {
    border-right: 3px solid #061539;
    padding-right: 15px;
}

@media screen and (max-width: 900px) {
    body {
        font-size: 14px;
    }
    
    .displaygrid {
        grid-template-columns: 2fr, 1fr;
    }

    header span#subheader {
        display: block;
        padding-top: 15px;
    }

    h1, h2 {
        font-weight: bold;
    }
}

@media screen and (max-width: 550px) {
    body {
        font-size: 12px;
    }

    .displaygrid {
        grid-template-columns: repeat(1, 1fr);
    }

    h1, h2 {
        font-weight: bolder;
    }

    .verticalline:nth-child(1) {
        border-right-color: var(--bgc);
    }

}
